{% extends "base/admin-base.html" %} {% block container %} {% load static %}


{% include 'includes/manager-nav.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="background-image: url(https://images.pexels.com/photos/12775025/pexels-photo-12775025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-size: cover; background-repeat: no-repeat; background-position: top; " >

            <div class="row page-titles mx-0 bg-transparent ">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" class="text-transparent">{{sub_title}}</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)" class="text-white" >{{name}}</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Category ID</th>
                                                <th>Category Title</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for category in categories %}
                                                <tr>
                                                    <td>{{category.id}}</td>
                                                    <td>{{category.name}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}
