{% extends "base/admin-base.html" %} {% block container %} {% load static %}


{% include 'includes/manager-nav.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" style="background-image: url(https://images.pexels.com/photos/12775025/pexels-photo-12775025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-size: cover; background-repeat: no-repeat; background-position: top; " >

            <div class="row page-titles mx-0 bg-transparent ">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" class="text-transparent">{{sub_title}}</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)" class="text-white"  >{{name}}</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Customer</th>
                                                <th>Table</th>
                                                <th>Total</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for payment in payments %}
                                                <tr>
                                                    <td>{{payment.id}}</td>
                                                    <td>{{payment.Order.name}}</td>
                                                    <td>{{payment.Order.table}}</td>
                                                    <td>{{payment.Order.total}}</td>
                                                    <td>
                                                        {% if payment.Order.is_payement %}
                                                            <a href="#" class="btn mb-1 btn-success color-white">Paid</a>
                                                        {% else %}
                                                            <a href="#" class="btn mb-1 btn-warning color-white">Not Paid</a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if payment.Order.is_payement %}
                                                            <a href="#" class="btn mb-1 btn-success color-white">Paid</a>
                                                        {% else %}
                                                            <a href="{% url 'manager:payments_cmpt' id=payment.id %}" class="btn mb-1 btn-warning color-white">Mark as Paid</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}
