{% extends "base/admin-base.html" %} {% block container %} {% load static %}


{% include 'includes/kitchen-nav.html' %}


        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body"  style="background-image: url(https://images.pexels.com/photos/12775025/pexels-photo-12775025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); background-size: cover; background-repeat: no-repeat; background-position: top; ">

            <div class="row page-titles mx-0 bg-transparent">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" class="text-transparent">{{sub_title}}</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)" class="text-white" >{{name}}</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{name}}</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Price</th>
                                                <th>Category</th>
                                                <th>Offer</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in items %}
                                                <tr>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.price}}</td>
                                                    <td>{{item.category}}</td>
                                                    <td>{{item.offer}}%</td>
                                                    <td>
                                                        {% if item.is_active %}
                                                        <a href="{% url 'kitchen:items_disable' id=item.id %}" type="button" class="btn mb-1 btn-rounded btn-danger">DISABLE</a>
                                                        {% else %}
                                                        <a href="{% url 'kitchen:items_enable' id=item.id %}" type="button" class="btn mb-1 btn-rounded btn-success color-white">ENABLE</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


{% endblock %}